<main>
    <h1>{{title}}</h1>
    <p>Somos una empresa de software dedicada a solucionar problemas de negocios digitales,</p>
    <section class="contact">
        <h1>Contacto</h1>
        <p>Si tienes un negocio y quieres digitalizarlo o quieres mejorarlo, nosotros con gusto resolveremos su problema.</p>
        <p>Puedes contactarnos y resolveremos todas tus dudas con mucho gusto, queremos que tengas la mejor de las experiencias.</p>
        <a href="/contacto">Contactanos</a>

    </section>
    <section class="skills">
        <div>
            <app-articulos></app-articulos>   <!-- articulos--> 
        </div>
        <div>
            <!-- Lenguajes de programacion -->
            <app-skills></app-skills>
        </div>
    </section>


</main>
<router-outlet></router-outlet>