
<main>
    <div>
        <form action="" method="post">
            <h1>Atencion al cliente</h1>
            <label for="Name">Nombre:</label>
            <input type="text" id="Name" name="Name">

            <label for="Last">Apellido:</label>
            <input type="text" id="Last" name="Last">

            <label for="Email">Correo:</label>
            <input type="email" id="Email" name="Email">

            <label for="Asunto">Asunto:</label>
            <input type="text" id="Asunto" name="Asunto">

            <label for="desc">Descripcion:</label>
            <input type="text" id="desc" name="desc">
            
            <input type="submit" value="Enviar">
        </form>
    </div>

</main>
