main{
    width: 50%;
    margin: auto;
    padding-top: 50px;
}
div{
    width: 100%;
    box-shadow: 1px 1px 4px 1px;
    padding: 25px 15px;

}
form{
    width: 80%;
    margin: auto;
}
input{
    margin: 5px 0px;
}
input[type="text"],input[type="email"]{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #2a3a4b;
}
input[type="submit"]{
    padding: 5px 10px;
}